p code {
  background: #46b5f6b8;
  color: blue !important;
  padding: 0.1rem 0.5rem;
  border-radius:0.3rem;
}
li code {
  background: #46b5f6b8;
  color: blue !important;
  padding: 0.1rem 0.5rem;
  border-radius:0.3rem;
}
p code::before,
p code::after {
  content: none !important; /* 或 content: ''; */
}
li code::before,
li code::after {
  content: none !important; /* 或 content: ''; */
}
#content pre {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
#content pre code .stx-scroller {
  overflow: auto;
}
#content p img {
  cursor: zoom-in;
}
