<!--
 * @Author: error: error: git config user.name & please set dead value or install git && error: git config user.email & please set dead value or install git & please set dead value or install git
 * @Date: 2023-07-04 01:28:12
 * @LastEditors: Alkaid(AlkaidMegrez@outlook.com)
 * @LastEditTime: 2023-07-16 00:58:31
 * @FilePath: /theme-crux/templates/modules/layout.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en" th:fragment="html (content)" 
  th:with='isLazyload = ${theme.config.global.vanillaLazyload.enable},
    loadingImg = ${theme.config.global.vanillaLazyload.loadingImg},
    errorImg = ${theme.config.global.vanillaLazyload.errorImg},'
>
<title th:text="${title}"></title>
<head th:replace="~{modules/head}"></head>
<body id="app" data-rendered="false">
  <div class="bg-gray-50 pb-16 transition duration-700 dark:bg-slate-800">
    <th:block th:replace="~{modules/components/nav::components-nav}"></th:block>
    <div class="mx-auto min-h-screen max-w-screen-lg p-4 pt-32">
      <th:block th:replace="${content}" />
      <div th:if="${theme.config.footer.footer_type == 'card'}">
        <th:block th:replace="~{modules/components/footer}"></th:block>
      </div>
    </div>
    <div th:if="${theme.config.footer.footer_type == 'basic'}">
      <th:block th:replace="~{modules/components/footer-basic}"> </th:block>
    </div>
  </div>
  <div id="scrollToTop" class="fixed bottom-4 right-4 z-10 h-12 w-12 rounded-lg bg-blue-700 p-3">
    <div class="i-heroicons-arrow-small-up !h-full !w-full text-white"></div>
  </div>
  <script th:src="@{/assets/fancybox/fancybox.umd.js?v={version}(version=${theme.spec.version})}"></script>
  <script th:src="@{/assets/syntaxy/syntaxy.min.js?v={version}(version=${theme.spec.version})}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/l10n/zh_CN.umd.js"></script>
</body>
<script>
  if (localStorage.getItem("color-scheme") === "dark") {
    document.getElementById("app")?.classList.add("dark");
  } else {
    document.getElementById("app")?.classList.remove("dark");
  }
  document.addEventListener("DOMContentLoaded", () => {
    // 这里文档已加载完成
    document.body.dataset.rendered = "true";
  });
  document.addEventListener('DOMContentLoaded', function () {
    var options = {
      codeType: 'default',
      minHeight: '',
      maxHeight: '500px',
    };
    var contentElement = document.getElementById('content');
    if (contentElement && contentElement.querySelectorAll('pre code').length > 0) {
      var codebox = contentElement.querySelectorAll('pre code');
      codebox.forEach(function (code) {
        var syntaxy = new Syntaxy(code, options);
        syntaxy.render();
      });
    } else {
      console.log();
    }
    if (contentElement && contentElement.querySelectorAll('p img').length > 0) {
      var img = contentElement.querySelectorAll('p img');
        img.forEach(function(img) {
          img.setAttribute('data-fancybox', 'gallery');
        });
    } else {
      console.log();
    }
  });
  document.addEventListener('DOMContentLoaded', function () {
    Fancybox.bind('[data-fancybox]', {
      animationEffect: "slide",
      l10n: Fancybox.l10n.zh_CN,
    // 其他选项
    });
  });
  const scrollToTopBtn = document.querySelector("#scrollToTop");
  let timeout;
  function scrollToTop() {
    clearTimeout(timeout);

    timeout = setTimeout(() => {
      // 滚动到顶部
    }, 200);
    if ("scrollBehavior" in document.documentElement.style) {
      // 平滑滚动
      window.scrollTo({ top: 0, behavior: "smooth" });
    } else {
      // 直接滚动
      window.scrollTo(0, 0);
    }
  }
  scrollToTopBtn.addEventListener("click", scrollToTop);
</script>
</html>
